body {

    header {
        #banner {
            div {
                width: 100%;
                height: 100vh;
                background-color: rgb(0, 0, 0, .4);
                position: relative;
                top: 0;
                z-index: 1;
            }

            #bannerImg {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
            }
        }
        // #border {
        //     background-image: url("../../../public/images/bottom_decoration_img.png");
        //     position: absolute;
        //     z-index: 5;
        //     width: 100%;
        // }

        nav{
            margin-top: 30px;
            width: 100%;
            position: absolute;
            top: 0%;
            z-index: 2;
            .nav{
                display: flex;
                align-items: center;
                .nav-item{
                    #logoImg{
                        border: solid red;
                        img{
                            margin-left: 25px;
                            margin-right: 25px;
                        }
                        
                        
                    }
                    .nav-link{

                        color: white;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                        border-top: white solid 1px;
                        border-bottom: white solid 1px;
                    }
                    .nav-link:hover{
                        background-color: #C42D40;
                        
                    }
                }
            }
        }
    }
}