body {
    header {
        #banner {
            div {
                width: 100%;
                height: 100vh;
                background-color: rgb(0, 0, 0, .4);
                position: relative;
                top: 0;
                z-index: 1;
            }

            #bannerImg {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
            }
        }

        .container-fluid {
            position: fixed;
            top: 0;
            left: 15.6%;
            width: 75%;
            margin-top: 30px;
            z-index: 2;

            .nav {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .nav-item {
                    .nav-link {
                        font-weight: bolder;
                        color: white;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        border-top: white solid 1px;
                        border-bottom: white solid 1px;
                    }

                    .nav-link:hover {
                        background-color: #C42D40;

                    }
                }
            }
        }

        .bottomDecoration {
            width: 100%;
            position: absolute;
            top: 50%;
            background-image: url("../../../public/images/bottom_decoration_img.png");
        }
    }
}