@media (min-width : 320px) and (max-width : 600px) {
    #sectionTeam {
        #title {
            img {
                width: 75%;
            }
        }
    }
}

@media (min-width : 601px) {
    #sectionTeam {
        #title {
            img {
                width: 35%;
            }
        }
        #cards{
            .row{
                .card{
                    .card-img{
                        .overlay{
                            position: absolute;
                            bottom: 65px;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }

    }
}