@media (min-width : 320px) and (max-width : 600px) {
    #sectionMenu {
        #ourMenu {
            .text {
                h1 {
                    font-size: 55px;
                }

                img {
                    width: 100%;

                }

                .container-fluid {
                    #tabMenu {
                        .row {

                            .col-3 {


                                .nav {
                                    width: 90px;

                                    .nav-link {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: start;
                                        align-items: flex-start;
                                        width: 100%;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }

                        .col-9 {
                            display: flex;
                            justify-content: start;
                            width: 100%;
                            position: relative;
                            right: -11%;

                            .tab-content {

                                .tab-pane {
                                    width: 100%;

                                    .row {

                                        width: 90%;

                                        .col-6 {
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            align-items: flex-end;

                                            img {
                                                border: #CCCCCC double;

                                                border-radius: 50%;
                                            }

                                            div {
                                                width: 100px;

                                                h5 {
                                                    font-weight: bolder;
                                                    font-size: 15px;
                                                }

                                                h6 {
                                                    font-size: 10px;
                                                }
                                            }

                                            p {
                                                padding-left: 5px;
                                                padding-right: 5px;
                                                background-color: #CCCCCC;
                                                font-size: 10px;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottomDeco {
            #line {
                position: absolute;
                bottom: 60%;
                width: 100%;
            }
        }
    }
}


@media (min-width : 601px) {
    #sectionMenu {
        #ourMenu {
            .text {
                h1 {
                    font-size: 70px;
                }

                img {
                    width: 50%;

                }

                .container-fluid {
                    #tabMenu {
                        
                            .row {
                                
                                .col-3 {
                                    .nav {
                                        width: 75%;

                                        .nav-link {
                                            font-size: 30px;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: start;
                                            align-items: center;
                                           
                                        }
                                    }
                                }
                            }

                        .col-9 {
                            width: 100%;
                            

                            .tab-content {
                                width: 100%;
                                margin-left: 100px;
                                .tab-pane {
                                    width: 100%;

                                    .row {
                                        width: 100%;

                                        .col-6 {
                                            display: flex;
                                            justify-content: end;
                                            align-items: flex-end;
                                            width: 600px;

                                            img {
                                                border: #CCCCCC double;
                                                width: 100px;
                                                border-radius: 50%;
                                            }

                                            div {
                                                width: 100%;

                                                h5 {

                                                    font-weight: bolder;
                                                    font-size: 25px;
                                                }

                                                h6 {
                                                    font-size: 20px;
                                                }
                                            }

                                            p {
                                                padding-left: 5px;
                                                padding-right: 5px;
                                                background-color: #CCCCCC;
                                                font-size: 20px;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottomDeco {
            #line {
                position: absolute;
                bottom: 40%;
                left: 25%;
                width: 50%;
            }
        }
    }
}