@media (min-width : 320px) and (max-width : 600px) {
    footer {
        #part1 {
            display: flex;
            justify-content: center;
            .row {
                width: 95%;

                .col-4 {
                    display: flex;
                    align-items: center;
                    h3 {
                        font-size: 15px !important;
                    }

                    p {
                        font-size: 12px;
                    }

                    #icons {
                        li {
                            .fab {
                                font-size: 15px;
                            }
                        }
                    }
                }

                .col-4 {
                   
                    #ig {
                        width: 125px;
                        display: flex;
                        .row {
                            width: 100px;
                            margin-top: 10px;
                           
                            margin-right: 10px;
                            display: flex;
                            flex-direction: column;

                            .col-3 {
                                width: 100%;
                                img {
                                    margin-bottom: 5px;
                                    width: 50px;
                                }
                            }
                        }
                    }
                }
                .col-4{
                    #tags{
                        li{
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width : 601px) {
    footer {
        #part1 {
            .row {
                .col-4 {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    padding-left: 50px;

                    #icons {
                        width: 40%;

                    }
                }

                .col-4 {
                    padding-bottom: 25px;

                    #ig {
                        width: 100%;

                        .row {
                            width: 75%;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}