#sectionMenu {
    background-image: url("../../../public/images/main_bg.jpg");
    padding-bottom: 5%;
    
    /*menuText*/
    #ourMenu {
        background-color: white;
        margin-left: 12.5%;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .text {
            width: 100%;
            text-align: center;
            position: relative;
            top: -10%;

            h1 {
                font-size: 50px;
                font-family: 'Courgette', cursive;

                span {
                    color: #C42D40;
                }
            }

            /*menuTabs*/
            .container-fluid {
                
                width: 100%;

                #tabMenu {
                    margin-top: 5%;

                    .row {
                        .col-3 {
                            .nav {
                                .nav-link {
                                    color: black;
                                    
                                    font-family: 'Courgette', cursive;
                                    border-radius: 0%;
                                    border-bottom: solid 1px #CCCCCC;
                                    border-right: #CCCCCC solid 1px;

                                    i {
                                        color: #CCCCCC;
                                    }
                                }

                                .nav-link:focus {
                                    background-color: white;
                                    border-right: solid #C42D40 3px;

                                    i {
                                        color: #C42D40;

                                    }
                                }
                            }
                        }
                    }

                    .col-9 {

                        width: 100%;
                        position: relative;
                        right: 12.5%;

                        .tab-content {

                            .tab-pane {
                                width: 100%;
                            
                                .row {
                                    width: 90%;


                                    .col-6 {
                                        padding-bottom: 10px;
                                        margin-top: 10px;
                                        padding-left: 50px;
                                        display: flex;
                                        border-bottom: dotted #CCCCCC 1px;
                                        justify-content: space-between;
                                        align-items: center;


                                        img {
                                            border: #CCCCCC double;
                                            border-radius: 50%;
                                            width: 50px;
                                            height: 50x;
                                        }

                                        div {
                                            h5 {
                                                font-weight: bolder;
                                            }
                                        }

                                        p {
                                            padding-left: 5px;
                                            padding-right: 5px;
                                            background-color: #CCCCCC;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }

            }
        }

    }
    .bottomDeco{
        background-color: white;
        padding-top: 5%;
        width: 75%;
        position: relative;
        left: 12.5%;
        #line{
        }
        div{
            display: flex;
            justify-content: space-between;
        }
    }
}
