@import "./header+navbar";
@import "./headerCarousel";
@import "./sectionAbout";
@import "./sectionMenu";
@import "./sectionTeam";
@import "./sectionReservation";
@import "./sectionOurBlog";
@import "./sectionTestimonials";
@import "./sectionContact";
@import "./footer";


@import "./mediaQueriesHeader+navbar";
@import "./mediaQueriesHeaderCarousel";
@import "./mediaQueriesSectionAbout";
@import "./mediaQueriesSectionMenu";
@import "./mediaQueriesSectionTeam";
@import "./mediaQueriesSectionBlog";